.popup-wrapper {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.popup-content {
    position: absolute;
    top: 50px;
    left: 50px;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    background: #fff;
    border: 1px solid #888;
}

.popup-pre {
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100% - 112px);
    width: calc(100% - 20px);
    overflow: auto;
    font-size: 18px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding: 10px;
    background: #fff;
    font-family: monospace;
}

.popup-close {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    border: 1px solid #888;
    background: #fff;
}

.popup-close:active {
    background-color: #e6e6e6;
}

.popup-title {
    position: absolute;
    left: 60px;
    top: 60px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
