#saved-box {
    font-family: Helvetica, sans-serif;
    outline: none;
}

#saved-box .saved-list-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 0 10px 20px 10px;
    flex-direction: column;
    cursor: pointer;
}

#saved-box .saved-list-item:last-child {
    border-bottom: none;
}

#saved-box .saved-list-item:last-child {
    padding-bottom: 10px;
}

#saved-box .saved-list-item:active {
    outline: none;
}

#saved-box .saved-file-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}

#saved-box .saved-name {
    font-size: 18px;
    font-family: monospace;
    flex: 1;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 10px;
}

#saved-box .saved-name:active {
    outline: none;
}

#saved-box .saved-name:focus-visible, #saved-box .saved-github-link:focus-visible {
    outline: 2px solid #333;
    outline-offset: -2px;
}

#saved-box .saved-github-link {
    color: darkblue;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35px;
    width: 35px;
    align-items: center;
}

#saved-box .saved-github-link img {
    height: 25px;
    width: 25px;
}

#saved-box .saved-github-link:active {
    outline: none;
}

#saved-box .saved-preview {
    display: block;
    font-size: 18px;
    font-family: monospace;
    background-color: #ffffff;
    border: 1px solid #888;
    min-height: 115px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

#saved-box .saved-preview:active {
    outline: none;
}

#saved-box .saved-truncated {
    margin-top: 10px;
    opacity: 30%;
}
