body {
    margin: 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.loading-box {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    min-height: 100%;
    align-items: start;
    justify-content: start;
    padding: 10px;
    color: #333;
}

.main-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.header, .server-name {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #333;
}

.header {
    font-weight: bold;
    padding-left: 5px;
}

.header a {
    text-decoration: none;
    color: #333
}

.server-name {
    flex: 1;
    padding-left: 15px;
    font-weight: normal;
}

.tabs-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    height: 36px;
    font-family: Helvetica, sans-serif;
}

.tab-button, .selected-tab-button {
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    padding: 2px;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-size: 18px;
    align-self: center;
}

.tab-button {
    color: #888;
}

.tab-button:hover {
    color: #333;
}

.selected-tab-button {
    color: #333;
    font-weight: bold;
}

.tab-content-element {
    display: none;
}

.query-box {
    display: flex;
    flex-direction: column;
}

.query {
    font-size: 18px;
}

.submit-box {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.submit-fill {
    display: flex;
    flex: 1
}

.submit-button {
    cursor: pointer;
    margin: 5px;
    border: 1px solid #888;
    background: none;
    padding: 5px;
    font-size: 18px;
    color: #333;
}

.status {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}

.result-box, .fetch-sql-box, .saved-box, .graph-box, .structure-box {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.fetch-sql-box {
    justify-content: center;
    align-items: center;
}

.graph-box {
    padding: 20px;
}

table {
    font-family: monospace;
    flex: 1;
    border-spacing: 0;
    display: flex;
    width: 100%;
    color: #333;
    font-size: 18px;
}

table td:last-child, table th:last-child {
    width: 100%;
    border-right: none !important;
}

td, th {
    padding: 5px 20px 5px 5px;
    font-weight: normal;
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    text-align: right;
}

th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table {
    display: block;
}

thead {
    padding: 0;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    table-layout: fixed;
}

.highlighted-row {
    background: #eee;
}

.status-box {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    height: 30px;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.tabs-box {
    display: flex;
    padding: 5px;
}

.saved-box {
    font-family: Helvetica, sans-serif;
}

.saved-box h2 {
    margin: 0;
    font-weight: bold;
}

.saved-list-item:last-child {
    border-top: none !important;
}

.saved-box p {
    margin: 0;
}

.saved-list-item {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 10px;
}

.saved-list-item h2 {
    margin: 0 10px 0 0;
}

.saved-list-item p {
    margin: 10px 0 0;
}

.name-and-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-and-links a {
    margin-right: 5px;
    color: darkblue;
    font-size: 16px;
    text-decoration: none;
}

.cm-editor.cm-focused {
    outline: none !important;
}

.schemas, .tables {
    border: none;
    display: flex;
    min-width: 200px;
}

.table-info {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items: stretch;
    flex: 1;
}

.columns {
    border-bottom: 1px solid #ddd;
    overflow: auto;
    grid-column: 1;
    grid-row: 1;
}

.indexes {
    overflow: auto;
    grid-column: 1;
    grid-row: 2;
}

select {
    outline: none;
    color: #333;
    font-size: 18px;
}

.loader {
    border: 8px solid #eee; /* Light grey */
    border-top: 8px solid #888; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result-time {
    font-family: monospace;
    color: #333;
    font-size: 14px;
}
