html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

#loading-box {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    min-height: 100%;
    align-items: start;
    justify-content: start;
    padding: 10px;
    color: #333;
}

#main-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

#header, #server-name {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #333;
}

#header {
    font-weight: bold;
    padding-left: 5px;
}

#header a {
    text-decoration: none;
    color: #333
}

#server-name {
    flex: 1;
    padding-left: 15px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

#tabs-box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    height: 36px;
    font-family: Helvetica, sans-serif;
    padding: 5px;
}

.tab-button, .selected-tab-button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-size: 18px;
    align-self: center;
}

.tab-button {
    color: #888;
}

.tab-button:hover {
    color: #333;
}

.selected-tab-button {
    color: #333;
    font-weight: bold;
}

#query-box {
    display: flex;
    flex-direction: column;
}

.query {
    font-size: 18px;
}

#submit-box {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#editor-resizer {
    display: flex;
    flex: 1;
    cursor: row-resize;
    flex-direction: column;
    align-items: center;
}

#cancel-button {
    cursor: pointer;
    background: none;
    color: #333;
    border: 1px solid #888;
    height: 32px;
    font-size: 18px;
    margin: 0 220px 0 0; /* To center the resizer icon. Ok, it's a hack. Get over it. */
}

#cancel-button-spacer {
    width: 150px;
}

#submit-button-wrapper {
    cursor: pointer;
    border: 1px solid #888;
    height: 32px;
    display: flex;
    flex-direction: row;
    background: white;
}

.submit-button, .submit-dropdown-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #333;
    height: 100%;
    margin: 0;
}

.submit-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 2;
    flex-direction: column;
    left: 0;
    right: 0;
}

.submit-dropdown-content-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.submit-dropdown-content-section:last-child {
    border-bottom: none;
    border-bottom: none;
}

.submit-dropdown-button {
    font-size: 14px;
    width: 35px;
}

.submit-dropdown-content-show {
    display: flex;
}

.submit-button {
    display: none;
    border-right: 1px solid #888;
    font-size: 18px;
    padding: 0 5px;
    width: 250px;
    text-align: left;
}

.submit-button-show {
    display: flex;
}

.submit-dropdown-content-button {
    display: flex;
    border: none;
    color: #333;
    background: none;
    margin: 0;
    padding: 7px 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
}

.submit-dropdown-content-button:hover {
    background-color: #efefef;
}

.submit-dropdown-content-button:active,
.submit-button:active,
#cancel-button:active,
.submit-dropdown-button:active {
    background-color: #e6e6e6;
    outline: none
}

.submit-dropdown-content-button.disabled {
    color: #888 !important;
    cursor: auto !important;
}

.submit-dropdown-content-button.disabled:hover {
    background: none !important;
}

#status-message {
    min-width: 0;
    justify-content: left;
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    margin: 0 5px;
    text-overflow: ellipsis;
}

#result-box, #fetch-sql-box, #saved-box, #graph-box, #structure-box {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
table tbody tr td {
  height: 21px;
}

#result-table tbody tr td abbr a {
    color: #555;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0 3px;
    border: 1px dotted #555;
    font-size: 12px;
    display: inline-block;
    user-select: none;
}

#result-table tbody tr td abbr {
    margin: 0 5px 0 0;
    text-decoration: none;
    position: relative;
    bottom: 2px; /* To make the links look vertically centered. */
}

#fetch-sql-box {
    justify-content: center;
    align-items: center;
}

#graph-box {
    padding: 20px;
}

table {
    font-family: monospace;
    border-spacing: 0;
    color: #333;
    font-size: 18px;
}

table td:last-child, table th:last-child {
    border-right: none !important;
}

td, th {
    font-weight: normal;
    white-space: nowrap;
    max-width: 500px;
}

td:last-child, th:last-child {
    max-width: none;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    text-align: right;
}

#result-table tbody tr td .cell-content-wrapper {
    display: flex;
}

#result-table tbody tr td .cell-value {
    flex: 1;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th div.col-content-wrapper {
    display: flex;
}

th div.col-name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    height: 21px;
    text-align: left;
    padding: 5px 10px;
}

th div.col-resizer {
    width: 7px;
    position: relative;
    left: 5px; /* center over the right border */
    cursor: col-resize;
}

thead {
    padding: 0;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.highlighted-row {
    background: #eee;
}

#status-box {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
    height: 30px;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

#saved-box {
    font-family: Helvetica, sans-serif;
}

#saved-box h2 {
    font-weight: bold;
}

.saved-list-item:last-child {
    border-top: none !important;
}

#saved-box p {
    margin: 0;
}

.saved-list-item {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 10px;
}

.saved-list-item h2 {
    margin: 0 10px 0 0;
}

.saved-list-item p {
    margin: 10px 0 0;
}

.name-and-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-and-links a {
    margin-right: 5px;
    color: darkblue;
    font-size: 16px;
    text-decoration: none;
}

.cm-editor.cm-focused {
    outline: none !important;
}

.structure-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

#schemas, #tables {
    border: none;
    display: flex;
    min-width: 200px;
}

#table-info {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    justify-items: stretch;
    flex: 1;
}

#columns {
    border-bottom: 1px solid #ddd;
    overflow: auto;
    grid-column: 1;
    grid-row: 1;
}

#indexes {
    overflow: auto;
    grid-column: 1;
    grid-row: 2;
}

select {
    outline: none;
    color: #333;
    font-size: 18px;
}

.loader {
    border: 8px solid #eee; /* Light grey */
    border-top: 8px solid #888; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.result-time {
    font-family: monospace;
    color: #333;
    font-size: 14px;
}

#pagination-box {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

#page-count-box {
    align-self: center;
    font-size: 16px;
    white-space: nowrap;
}

.pagination-button {
    margin: 0 0 0 10px;
    background: none;
    color: #333;
    border: 1px solid #888;
    font-size: 16px;
    padding: 2px 5px;
    width: 30px;
    justify-content: center;
}

.pagination-button:enabled {
    cursor: pointer;
}

.pagination-button:disabled {
    color: #888;
    border: 1px solid #ddd;
}

.pagination-button:active:enabled {
    background-color: #e6e6e6;
    outline: none
}

.jump-button {
    font-size: 12px;
}
