<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SQLUI - Redirecting...</title>
  <link rel="icon" type="image/x-icon" href="<%= resource_path_map['favicon.svg'] %>">

  <script type="application/javascript">
    window.location = "<%= location %>"
  </script>
</head>
<body style="font-family: monospace; color: #333; font-size: 16px; margin: 0;">

<div style="padding: 10px;">
  <h2>Redirecting...</h2>
</div>

</body>
</html>
